ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.viewer-lesson-title{
    list-style: decimal;

}
.viewer-lesson-wrap{
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    translate: all 0.3 ease;
    &:last-child{
        border-bottom: none;
    }
    &:hover {
        color: $black;
    }
}

.current-lesson {
  font-weight: 600;
  font-size: 20px;
  background: linear-gradient(89.97deg, $blue 1.84%, $orange 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   background-clip: text;
}
