video {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 5px;
}


video::-webkit-media-controls {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #fff;
}

video::-webkit-media-controls-panel {
  width: 100%;
}